.course-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  width: 375px;
  justify-content: center;
  font-family: Roboto-Regular, Roboto;
  color: #979797;
}

.course-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 302px;
  min-width: 302px;
  max-width: 302px;
  height: auto;
  border: 1px solid #e7e7e9;
  padding: 1em;
  margin: 1em auto;
  font-family: Roboto-Regular, Roboto;
  color: #979797;
}

.course-card i {
  margin: 0.2em;
}

.course-card-bookmark {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}

.course-card-bookmark:hover {
  color: tomato;
  cursor: pointer;
}

.course-card-top,
.course-card-bottom,
.course-info-mini {
  display: flex;
  flex-basis: 100%;
  align-content: space-between;
}

.course-card-logo {
  flex: 1;
}

.logo-image {
  width: 5em;
}

.course-card-title {
  flex: 3;
  padding: 0 2em 0 1em;
  font-size: 16px;
}

.course-card-bottom {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1em;
}

.course-card-bottom-left,
.course-card-bottom-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.course-card-bottom-left *,
.course-card-bottom-right * {
  flex-basis: 100%;
  padding: 0;
  margin: 0.5em 0;
}

.course-card-bottom-left {
  font-size: 8px;
}

.course-card-bottom-left i {
  font-size: 10px;
  margin-right: 0.5em;
}

.course-card-bottom-right {
  font-size: 9px;
  text-align: right;
}

.course-card-bottom-right i {
  margin: 0 0.2em;
}

.course-card-bottom-right h2 {
  font-size: 20px;
}

.course-info-mini {
  flex-wrap: wrap;
  font-size: 8px;
}

.course-info-mini p {
  flex-basis: 100%;
  margin: 0.5em 0;
}

.course-info-mini span {
  margin-left: 0.5em;
}

.course-info-mini-button {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.course-info-mini button {
  font-size: 14px;
  padding: 0 3em;
  font-family: Helvetica;
  color: white;
  background-color: #9a9a9a;
  border: none;
}

.course-card-rating {
  position: relative;
}

.course-card-rating-total {
  position: absolute;
  top: -50%;
}

.course-card-arrow-more {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.course-card-arrow {
  height: 15px;
  width: 15px;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.course-card-arrow.pointing-bottom {
  transform: rotate(-45deg);
}

.course-card-arrow.pointing-top {
  transform: rotate(135deg) translate(50%, -50%);
}

.course-card-arrow:hover {
  border-color: tomato;
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
  border: 1px solid #9a9a9a;
  background-color: lightgrey;
}

[class^="card-info"].content {
  flex-basis: 100%;
  padding: 1em 2em;
  background-color: #f3f3f3;
  font-family: SegoeUI, "Segoe UI";
  font-size: 10px;
  line-height: 20px;
}

.card-info-program.button {
  flex-basis: 100%;
  text-align: center;
}

.card-info-program.button button {
  font-size: 14px;
  padding: 0 2em;
  font-family: Helvetica;
  color: white;
  background-color: #9a9a9a;
  border: none;
}

.card-info-tabs {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
}

.card-info-tabs-tab {
  flex: 1;
  text-align: center;
  padding: 0.3em;
  font-family: Helvetica;
  font-size: 8px;
}

.tab-active {
  background-color: #f3f3f3;
}

.card-info-tabs-tab:hover {
  color: orange;
  cursor: pointer;
}

.tab-active:hover {
  color: white;
  cursor: default;
}

.card-info-lector {
  display: flex;
  flex-wrap: wrap;
}

.card-info-lector-img {
  flex-basis: 100%;
  text-align: center;
  font-weight: bolder;
  padding: 1em;
}

.card-info-lector-img img {
  width: 114px;
  border-radius: 50%;
}

.card-info-lector p {
  flex-basis: 100%;
}

.card-info-calendar {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  padding: 0 0.5em;
  font-family: Helvetica;
}

.card-info-calendar h3 {
  flex-basis: 100%;
  padding: 1em;
  text-align: center;
  font-size: 10px;
}

.card-info-calendar-item {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: white;
}

.card-info-calendar-item p {
  padding: 0.2em 2em;
  margin-bottom: 1em;
  background-color: #f3f3f3;
  font-size: 8px;
}

.card-info-calendar-item p:last-of-type {
  height: 40%;
}

.card-info-calendar-item div:first-of-type {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-info-calendar-item div:first-of-type i {
  flex-basis: 100%;
  text-align: center;
}

.card-info-calendar-item div:last-of-type {
  flex: 5;
  background-color: white;
}

.card-info-cert-img {
  text-align: center;
}

.card-info-cert-img img {
  width: 80%;
}

.card-info-cert h2 {
  flex-basis: 100%;
  padding: 1em;
  text-align: center;
  font-size: 16px;
}

.card-info-reviews {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 3em !important;
}

.card-info-reviews-top {
  flex-basis: 100%;
  background-color: white;
  padding: 2em 1em;
  margin-bottom: 2em;
}

.card-info-reviews-top p {
  margin-bottom: 0.5em;
}

.card-info-reviews i {
  margin: 0.2em;
}

.card-info-reviews-average {
  font-size: 2em;
}

.card-info-review-totals_total,
.card-info-review-totals_percentage {
  margin: 0 0.2em;
}

.card-info-reviews-average:hover,
.card-info-review-totals_total:hover {
  color: orange;
  cursor: pointer;
}

.card-info-reviews-bottom {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.card-info-reviews-card {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 1em 0em;
  padding: 0.5em;
  background-color: white;
}

.card-info-reviews-card p {
  flex-basis: 100%;
  margin: 0.3em;
}

.card-info-reviews-card > div {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.card-info-reviews-user {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
}

.card-info-reviews-buttons {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card-info-reviews-buttons i {
}

.card-info-reviews-buttons i:hover {
  cursor: pointer;
  color: orange;
}

.card-info-reviews-buttons button {
  border: none;
  background-color: white;
  font-size: 6px;
}

.card-info-reviews-buttons button:hover {
  cursor: pointer;
  color: orange;
}

.card-info-contacts {
  display: flex;
  flex-wrap: wrap;
}

.card-info-contacts * {
  flex-basis: 100%;
}

.card-info-contacts-img {
  flex-basis: 100%;
}

.card-info-contacts-img img {
  width: 50%;
}

.card-info-contacts h3 {
  font-size: 10px;
}

.card-info-contacts p {
  margin: 0em;
}

.card-info-contacts.button {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.card-info-contacts.button button {
  flex-basis: 40%;
  font-size: 14px;
  font-family: Helvetica;
  color: white;
  background-color: #9a9a9a;
  border: none;
}

.card-info-review-form {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 1em;
  margin: 1em 0;
  font-size: 10px;
  border: 1px solid #f3f3f3;
  background-color: white;
}

.card-info-review-form form {
  flex-basis: 100%;
}

.card-info-review-form form input,
.card-info-review-form form textarea,
.card-info-review-form form div {
  width: 100%;
}

.card-info-review-form label {
  font-size: 16px;
}

.card-info-review-form * {
  margin-bottom: 0.5em;
}

.card-info-review-form i {
  width: auto;
}

.card-info-review-form.button {
  margin-top: 3em;
  border: none;
}

.card-info-review-form.button button {
  margin: auto;
  padding: 0 2em;
  font-size: 14px;
  font-family: Helvetica;
  color: white;
  background-color: #9a9a9a;
  border: none;
}

.course-card-registration {
  font-size: 10px;
  padding: 3em;
}
