.course-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 25em;
  min-width: 20em;
  height: auto;
  margin: 2em;
  padding: 2em 1em 0.5em 1em;
  border: 1px solid grey;
}

.card-info-tabs-tab:hover {
  color: orange;
  cursor: pointer;
}

.tab-active:hover {
  color: white;
  cursor: default;
}

.course-card i {
  margin: 0.2em;
}

.course-card-bookmark {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}

.course-card-bookmark:hover {
  color: tomato;
  cursor: pointer;
}

.course-card-top,
.course-card-bottom {
  display: flex;
  flex-basis: 100%;
  height: 50%;
  align-content: space-between;
}

.course-card-logo {
  flex: 1;
  margin: 0 0.5em;
}

.logo-image {
  width: 5em;
}

.course-card-title {
  flex: 3;
}

.course-card-bottom {
  display: flex;
  flex-wrap: nowrap;
}

.course-card-bottom-left,
.course-card-bottom-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.course-card-bottom-left *,
.course-card-bottom-right * {
  flex-basis: 100%;
}

.course-card-rating {
  position: relative;
}

.course-card-rating-total {
  position: absolute;
  top: -50%;
}

.course-card-arrow-more {
  flex-basis: 100%;
  text-align: center;
}

.course-card-arrow-more:hover {
  color: tomato;
  transform: scale(1.1);
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
  border: 1px solid grey;
  background-color: lightgrey;
}

.card-info .content {
  flex-basis: 100%;
  margin: 2em;
  padding: 1em 1em;
  background-color: white;
}

.card-info-tabs {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
}

.card-info-tabs-tab {
  flex: 1;
  text-align: center;
  padding: 0.3em;
}

.tab-active {
  background-color: lightgrey;
  color: white;
}

.card-info-lector {
  display: flex;
  flex-wrap: wrap;
}

.card-info-lector-img {
  flex-basis: 100%;
  text-align: center;
  font-weight: bolder;
  padding: 1em;
}

.card-info-lector-img img {
  padding: 2em;
  width: 100%;
  border-radius: 50%;
}

.card-info-lector p {
  flex-basis: 100%;
}

.card-info-calendar {
  display: flex;
  flex-wrap: wrap;
}

.card-info-calendar {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  padding: 0 0.5em;
}

.card-info-calendar h3 {
  flex-basis: 100%;
  padding: 0.2em;
  text-align: center;
}

.card-info-calendar-item {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: white;
}

.card-info-calendar-item p {
  padding: 0.2em;
  margin: 0.5em 0;
  border: 1px solid lightgrey;
}

.card-info-calendar-item div:first-of-type {
  flex: 1;
  text-align: center;
}

.card-info-calendar-item div:last-of-type {
  flex: 5;
  background-color: white;
}

.card-info-cert-img {
  text-align: center;
}

.card-info-cert-img img {
  width: 100%;
}

.card-info-reviews {
  display: flex;
  flex-wrap: wrap;
}

.card-info-reviews-top {
  flex-basis: 100%;
}

.card-info-reviews-average {
  font-size: 2em;
}

.card-info-review-totals_total,
.card-info-review-totals_percentage {
  margin: 0 0.2em;
}

.card-info-reviews-average:hover,
.card-info-review-totals_total:hover {
  color: orange;
  cursor: pointer;
}

.card-info-reviews-bottom {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.card-info-reviews-card {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 0.5em 0em;
  border: 1px solid lightgrey;
}

.card-info-reviews-card p {
  flex-basis: 100%;
  margin: 0.3em;
}

.card-info-reviews-card > div {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.card-info-reviews-user {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
}

.card-info-reviews-buttons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card-info-reviews-buttons i {
  flex-basis: 10%;
  margin: 0.5em;
}

.card-info-reviews-buttons i:hover {
  cursor: pointer;
  color: orange;
}

.card-info-reviews-buttons button {
  margin: 0.3em;
  border: 1px solid grey;
  border-radius: 0.3em;
  background-color: white;
  padding: 0.2em;
}

.card-info-reviews-buttons button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.card-info-contacts {
  display: flex;
  flex-wrap: wrap;
}

.card-info-contacts * {
  flex-basis: 100%;
}

.card-info-contacts-img {
  flex-basis: 100%;
  text-align: center;
}

.card-info-contacts-img img {
  width: 100%;
}
