.header1 {
    background-color: gainsboro;
    height:100px;
  }
.footer {
    background-color: gray;
 
  }
/*.main {
    background-color: blue;
  } */
  
  .authors {
    text-align: center
  }
  .button_footer {
    width: 145px !important;    
    padding:0px;
    margin-top: 4px;;
   }
  #panel2a-header {
    background-color: lightslategray
  }
 
/* app css*/

  .MuiAppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}

.MuiGrid-container {
  width: 91%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
