
/* FOOTER starts------------*/
.footer {
    background-color: gray; 
  }

.authors {
    text-align: center
  }

.button_footer {
    width: 145px !important;    
    padding:0px;
    margin-top: 4px;;
   }
  
/* DUK starts------------*/
#panel2a-header {
    background-color: lightslategray
  }
.duk {
    padding-top:70px
  }

  /* PERSONAL starts------------*/

.personalPage {
 padding-top:70px
}
.photo {
  width: 50px}

#panel2a-header2 {
  background-color: burlywood
}
/* app css*/

.MuiGrid-container {
  width: 91%;
  }
