.item1 { grid-area: header; }
.item2 { grid-area: imgPost; }
.item3 { grid-area: postText; }
.item4 { grid-area: postAuthor; }
.item5 { grid-area: postData; }
.item6 { grid-area: post; height: 75px}
.item7 { grid-area: postButton; }


.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  ' imgPost imgPost postText postText postText postText'
  ' imgPost imgPost postAuthor postAuthor postData postData'
  ' post post post post post post'
  ' postButton postButton postButton postButton postButton postButton';
  
  
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
