.divas {
  width: 411px;
  min-height: 1000px;
}
.textBlock {
  width: 312px;
  height: auto;
  margin-left: 48px;
}
.searchas {
  width: 100%;
  height: 35px;
  border: #9b9898 2px solid;
  margin-top: 30px;
}
.btn1 {
  margin-left: 65px;
  margin-top: 55px;
  width: 60%;
  height: 30px;
  background-color: #9b9898;
}
.tekstas {
  padding: 25;
  margin-top: 195px;
}
.postai{
  margin-top: 195px;
}

/*title*/
.title{
    background-color: #d8d2d2;
    height: 50px;
    font-size: 28px;
    right: 36px;
}
.titleName{
  text-align: center;
}
/*search bar*/
.searchas2{
    width: 100%;
    margin-top: 25px;
}
.detaliP{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    text-decoration-line: underline;
}
